
.hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--second-color);
    height: 78vh;
    padding-top: 40px;
    font-family: "Crimson Text";
    font-size: 13px;
}

.hero-container .hero-bg {
    position: absolute;
    top: 40px;
    width: 100%;
}

.hero-container .hero-content-container {
    text-align: center;
    margin-top: 80px;
}

.hero-container .logo {
    height: 30vmin;
    pointer-events: none;
    z-index: 1;
}

.hero-container .sub-title {
    width: 80%;
    margin-top: 50px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 5px 0;
    z-index: 1;
}

.hero-container .catch-copy {
    margin-top: 50px;
    z-index: 1;
}


.hero-container  .hero-title {
    position: absolute;
    height: 59px;
    left: 13%;
    top: 58%;

    font-family: Roboto;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.24em;
    border-bottom: 3px solid #DED90D;
}

.hero-container .line {
    position: absolute;
    height: 250px;
    left: 337px;
    top: 455px;
    border: 2px dashed #FFFFFF;
}

@media screen and (max-width: 1200px) {
    .hero-container .hero-bg {
        position: absolute;
        top: 0;
        height: 100vh;
        object-fit: cover;
    }
}