.about-section-container {
    height: 100vh;
    position: relative;
    padding-top: 36px;
}
.about-content-container {
    border: 1px solid #fff;
    outline: 1px solid #fff;
    outline-offset: 7px;
    float: left;
    margin: -35px 0 0 200px;
    padding: 7px 15px;
    width: 38vw;
}

.about-img-container {
    float: right;
    transform: translate(-100px,250px);
}

.about-btn {
    transform: translateY(-7px);
    left: 50%;
    margin-left: -60px;
    position: absolute;
}

.line-01{
    width: 222px;
    height: 1px !important;
    transform:  translate(-50%) rotate(90deg);
    border-top: 1px solid #fff;
    position: absolute;
    margin-top: 640px;
    left: 50%;
}

.offer-section-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.offer-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px 0;
}

.offer-border{
    border-style: inset;
    border-top: 1px solid #DED90D;
    border-bottom: 1px solid #DED90D;
    width: 155px;
    text-align: center;
}

.carousel-container {
    margin-top: 110px;
    width: 90vw;
}

.page-number {
    color: #DED90D;
}
.page-wrapper {
    margin: 0 5px;
}

.page-list-hr {
    border-bottom: 1px dashed #DED90D;
    width: 26px;
    transform: translateY(-10px);
}

button.rec-dot{
    margin-right: 10px;
    box-shadow: 0 0 1px 1px #A79708;
    width: 15px;
    height: 15px;
}
  
button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
    background-color: #DED90D;
    box-shadow: 0 0 1px 1px #A79708;
}

.lcUbOd {
    background-color: #DED90D !important;
}

.jRFJkP:hover:enabled, .jRFJkP:focus:enabled {
    background-color: #DED90D !important;
}

.event-section-container {
    padding: 50px 170px;
}
.event-section-header {
    text-align: right;
    margin-bottom: 80px;
    padding-right: 10px;
    border-right: 1px dashed #DED90D;
}

.event-sub-hr {
    width: 327px;
    height: 1px !important;
    border-top: 1px solid #fff;
    margin: 80px auto 90px auto;
}

.event-card-container {
    display: flex;
    justify-content: space-between;
}

.event-card-wrapper {
    width: 505px;
    position: relative;
}

.event-card-date {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #DED90D;
}

.event-card-name {
    font-family: 'Mplus 1p';
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    margin: 20px 0 15px 0;
}

.event-card-description {
    margin-bottom: 60px;
}

.event-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

