.menu-body-container {
    padding: 120px 180px;
}
.menu-body-container .menu-main {
    height: 100%;
    display: grid;
    grid-template-columns: 65% auto;       
}
.menu-body-container .menu-main .item-pickup-img {
    position: relative;
}
.menu-body-container .menu-main .menu-date {
    width: 20%;
    height: 70%;
    margin-left: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 112px;
    letter-spacing: 0.5em;
    color: #DED90D;
    
}

.menu-body-container .menu-main .menu-new-label{
    position: absolute;
    width: 200px;
    height: 200px;
    padding-top: 42px;
    padding-left: 18px;

    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23DED90DFF' stroke-width='8' stroke-dasharray='10%2c17' stroke-dashoffset='61' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 100px;

    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 60px;
    letter-spacing: 0.5em;
    text-align:center;
    
    color: #DED90D;
    z-index: 100;

    animation-name: spin;
    animation-duration: 17s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.menu-body-container .menu-main .awamori-main-img{
    position: absolute;
    width: 625px;
    height: 625px;
    margin-top: -300px;
    margin-left: 55px;
    z-index: 99;
}
.menu-body-container .menu-main .awamori-shadow-img{
    position: absolute;
    width: 600px;
    height: 600px;
    margin-top: -280px;
    margin-left: 84px;
    z-index: 98;
}


.menu-body-container .menu-main .item-pickup-content{
    margin-top: 55%;
}

.item-pickup-title{
    display: inline-block;
    border-top: 5px double #DED90D;
    border-bottom: 5px double #DED90D;
    margin-bottom: 125px;
    padding-top: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.24em;

    color: #FFFFFF;
}

.item-price{
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.15em;
    line-height: 30px;
    padding-left: 1;
    color: rgb(129, 129, 129)
}

.item-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #DED90D;
    letter-spacing: 0.15em;
}

.item-pickup-lore{
    font-family:'M PLUS 1';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
}

.menu-body-container .menu-favorite {
    margin-top: 250px;
}
.favorite-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    letter-spacing: 0.5em;
    margin-top: 50px;

    color: #DED90D;
}

.list-item-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

@media screen and (max-width: 1200px) {
    .menu-body-container {
        padding: 220px auto;
    }

    .menu-body-container .menu-main {
        height: 100%;
        display: block;   
        margin: 0 auto;
    }

    .menu-body-container .menu-main .awamori-main-img {
        width: 500px;
        height: 500px;
        margin-top: -230px;
        margin-left: 30px;
    }

    .menu-body-container .menu-main .awamori-shadow-img{
        width: 475px;
        height: 475px;
        margin-top: -210px;
        margin-left: 60px;
    }

    .menu-body-container .menu-main .menu-date {
        font-size: 72px;
        letter-spacing: 0.4em;
        margin-left: -10px;
    }

    .menu-body-container .menu-main .menu-new-label{
        width: 180px;
        height: 180px;
        padding-top: 30px;
        padding-left: 20px;
    
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 0.4em;
        margin-left: -20px;
        margin-top: 30px;
    }

    .menu-body-container .menu-main .item-pickup-content{
        margin-top: 320px;
        text-align: left;
    }
    
    .item-pickup-title{
        display: inline-block;
        border-top: 5px double #DED90D;
        border-bottom: 5px double #DED90D;
        margin-bottom: 30px;    
    }
    
    .menu-body-container .menu-favorite {
        margin-top: 150px;
    }
}

@media screen and (max-width: 765px) {
    .menu-body-container {
        padding: 220px 60px;
    }
}