.nav-bar {
    background-color: #2F2C2C;
    height: 56px;
    font-size: 12px;
    position: fixed;
    top: 0;
    z-index: 999;
    font-family: 'Roboto', sans-serif;
}

.show {
  visibility: visible;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(-100%);
}

.nav-menu {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, auto);
    grid-gap: 80px;
    list-style: none;
    width: 100vw;
}

.nav-item {
    height: 56px;
  }

.nav-item .active {
    border-bottom: solid 5px #DED90D;
}

.nav-link:hover {
  border-bottom: solid 5px #DED90D;
  cursor: pointer;
}

.nav-link {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}