.item-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-container .item-img-wrapper{
    position: relative;
}

.item-xline {
    float: left;
    margin-left: 230px;
    margin-bottom: 5px;
    width: 30px;
    height: 10px;
    background: #DED90D;
}

.item-yline {
    margin-left: 260px;
    margin-bottom: -50px;
    width: 10px;
    height: 40px;
    background: #DED90D;
}

.dry-dot-wrapper {
    margin-top: 280px;
    margin-left: 75px;
    position: absolute;
}

.item-img {
    margin-bottom: 5px;
    width: 337px;
    height: 337px;
    float: left;
}

.dryDot {
    margin-bottom: 5px;
    width: 10px;
    height: 10px;
    background: #DED90D;
    float:none
}

.item-label{
    position: absolute;
    left: 220px;
    top: 120px;
    text-align: center;
    color: rgb(58, 42, 42);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    background-color: #DED90D;
    font-size: 14px;
    letter-spacing: 0.1rem;
}

.item-container .item-price-wrapper {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 20px;
}

.item-price {
    text-align: left;
}

.item-container > .item-name{
    margin-left: 90px;
}

.item-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-btn{
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding-top: 2px;
    background-color: #ffffff00;
    border: 1px solid #fff;
    text-align: center;
}

.info-btn:hover{
    color: #000;
    font-weight: bolder;
    background-color: #DED90D;
    border: 1px solid #DED90D;
    cursor: pointer;
}

.item-info-wrapper {
    top: 90%;
    position: absolute;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.item-info-wrapper .item-info {
    color: var(--second-color);
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;

    width: 45%;
    border-top: 1px dashed #DED90D;
    border-bottom: 1px dashed #DED90D;
    padding: 25px 25px;

    outline: 1px solid #fff;
    outline-offset: 7px;

    backdrop-filter: blur(25px);
}

.item-info-wrapper .info-line {
    width: 34px;
    border-top: 1px dashed #DED90D;
    transform: rotate(90deg);
    margin-left: 165px;
    margin-bottom: 35px;
    margin-top: 10px;
}
