#item-list {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-items: center;
}


@media screen and (max-width: 960px) {
    #item-list {
        grid-template-columns: repeat(1,auto);
        row-gap: 30px;
    }
    .slider-icon {
        visibility: hidden;
    }
}