.about-section-container {
    height: 100vh;
    position: relative;
    padding-top: 36px;
    margin-bottom: 150px;
}
.about-content-container {
    border: 1px solid #dbd981;
    outline: 1px solid #dbd981;
    outline-offset: 7px;
    float: left;
    margin: -35px 0 0 12vw;
    padding: 30px 15px;
    width: 38vw;
    min-width: 520px;
}

.about-content-container .body-text {
    margin: 40px 12% 40px 12%;
}

.about-img-container {
    float: right;
    transform: translate(-100px,250px);
    width: 35vw;
    min-width: 375px;
}

.about-img-container .dear-img {
    width: 35vw;
    min-width: 375px;
}

.line-01{
    width: 222px;
    height: 1px !important;
    transform:  translate(-50%) rotate(90deg);
    border-top: 1px solid #fff;
    position: absolute;
    margin-top: 640px;
    left: 50%;
}

.offer-section-container {
    margin-top: 10%;
    margin-bottom: 150px;
    background-image: url("../../public/images/offers-bg.png");
    background-size: cover;
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 36px 0;
}

.title-line{
    border-style: inset;
    border-left: none;
    border-right: none;
    border-top: 1px solid #dbd981;
    border-bottom: 1px solid #dbd981;
    width: 100%;
    height: 5px;
    text-align: center;
}

.description {
    margin-bottom: 5%;
}

.event-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-section-header {
    width: 100%;
}

.event-sub {
    width: 100%;
    margin-bottom: 150px;
}
.event-sub-hr {
    width: 327px;
    height: 1px !important;
    border-top: 1px solid #fff;
    margin: 80px auto 90px auto;
}

.event-card-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.event-card-wrapper {
    width: 561px;
    position: relative;
}
.event-card-content {
    text-align: left;
}

.event-card-date {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #DED90D;
    letter-spacing: 0.25em;
}

.event-card-name {
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    margin: 20px 0 15px 0;
}

.event-card-description {
    margin-bottom: 60px;
}

.event-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}


@media screen and (max-width: 1200px) {
    .about-section-container{
        height: 100%;
        margin-bottom: 80px;
    }
    .about-content-container {
        float: none;
        width: 80vw;
        min-width: 320px;
        max-width: 720px;
        margin: 50px auto;
    }
    .about-img-container{
        float: none;
        transform: none;
        margin: 0 auto;
    }

    .offer-description {
        width: 58vw;
    }

    .event-card-container {
        display: block;
        margin: 0 auto;
    }
    .event-card-wrapper {
        width: 100%;
        padding-bottom: 30px;
    }
    .event-btn {
        bottom: 45px;
    }

}

@media screen and (max-width: 480px) {
    .event-sub-hr {
        width: 100%;
    }
    .offer-section-container {
        background-size: cover;
    }
    .description{
        width: 85%;
        margin: 0 auto 5% auto;
    }
}