html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #DED90D;
  --second-color: #fff;
  background-color: #1F1D1D;
  font-family: 'Roboto';
}

@font-face {
  font-family: SoupOfJustice;
  src: url("../public/fonts/iCielSoupofJustice.ttf");
}

.texture {   
  position: fixed;
  top: 0; 
  mix-blend-mode: overlay;
  width: 100%;
  z-index: 99;
  overflow: visible;
  pointer-events:none;
}

.about-section-container, .menu-section-container, .event-section-container,.contact-section-container{
  color: var(--second-color);
  width: 100%;
}

.title-txt {
  color:  var(--main-color);
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.25em;
  padding-left: 0.25em;
}

.body-text {
  color: var(--second-color);
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}
.page-title {
  display: inline-block;
  border-top: 5px double #DED90D;
  border-bottom: 5px double #DED90D;
  margin: 80px auto 100px auto;
  padding: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.24em;

  color: #FFFFFF;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

hr {
  border-style: none;
  border-width: none;
}

.flex-ct-ct {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: url('../public/images/label-big-bg.png');
  height: 39px;
  padding: 0 15px 0 15px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.25em;
  color: #151E35;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  transition: ease-out 0.2s;
}

.copyright {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 25px;
}

@media screen and (max-width: 1200px){
    html,body{
      overflow-x: hidden;
      /* overflow-y: hidden; */

    }
    .texture {   
      object-fit: cover;
      height: 100vh;
      position: fixed;
    }
 
}

@keyframes fade {
  0%{
      opacity: 100%;
  }
  
  100% {
      opacity: 30%;
  }
}

@-webkit-keyframes fade {
  0%{
      opacity: 100%;
  }
  100% {
      opacity: 30%;
  }
}

@keyframes scrollY {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0%);
  }
}

@keyframes scrollX {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}

@keyframes wave {
  0%,100% {
    clip-path: polygon(0 15%, 10% 15%, 21% 24%, 32% 38%, 43% 55%, 56% 72%, 69% 71%, 82% 55%, 91% 38%, 100% 15%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 20%, 10% 45%, 20% 63%, 31% 74%, 42% 73%, 55% 54%, 68% 28%, 80% 8%, 89% 7%, 100% 16%, 100% 100%, 0% 100%);
  }
  /* 25%,75% {
    clip-path: polygon(0 37%, 9% 51%, 18% 58%, 31% 48%, 43% 27%, 55% 29%, 67% 57%, 79% 75%, 90% 71%, 100% 56%, 100% 100%, 0% 100%);
  } */
}


@keyframes blink {
  0% {
      filter: drop-shadow(0px 0px 0px rgba(222, 217, 13, 0));
  }
  50% {
      filter: drop-shadow(0px 4px 15px rgba(222, 217, 13, 0.5));
  }
  100% {
      filter: drop-shadow(0px 0px 0px rgba(222, 217, 13, 0));
  }
}